.App {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App > button {
  width: 300px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
}

.App > button:first-of-type {
  margin-bottom: -20px;
}

.currency-section {
  border: 1px solid black;
  border-radius: 50px;
  width: 400px;
  height: fit-content;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.currency-section * {
  margin: 5px;
}